<section class="hero section-animation" id="hero">
  <div class="container">
    <div class="hero-container">
      <div class="hero-text-wrapper">
        <h1 class="hero-title">
          Welcome to our <span class="hero-title-accent">collection</span> of
          premium watches
        </h1>
        <p class="hero-text">
          Our watches are not just timepieces, but also an expression of your
          personality and lifestyle. From classic designs to modern ones, we
          have a watch to suit every taste and occasion.
        </p>
      </div>
      <div class="hero-scroll-wrapper">
        <picture>
          <source
            media="(min-width: 1280px)"
            srcset="
              ./images/hero/hero_scroll_desktop.webp    1x,
              ./images/hero/hero_scroll_desktop@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/hero/hero_scroll_tablet.webp    1x,
              ./images/hero/hero_scroll_tablet@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./images/hero/hero_scroll.webp    1x,
              ./images/hero/hero_scroll@2x.webp 2x
            "
            type="image/webp"
          />
          <img
            src="./images/hero/hero_scroll.webp"
            alt="team"
            width="108"
            height="44"
            class="hero-team-img"
          />
        </picture>
        <a href="#footer" class="hero-link">Scroll down</a>
      </div>
    </div>

    <picture>
      <source
        media="(min-width: 1280px)"
        srcset="
          ./images/hero/hero_watch_desktop.webp    1x,
          ./images/hero/hero_watch_desktop@2x.webp 2x
        "
        type="image/webp"
      />
      <source
        media="(min-width: 768px)"
        srcset="
          ./images/hero/hero_watch_tablet.webp    1x,
          ./images/hero/hero_watch_tablet@2x.webp 2x
        "
        type="image/webp"
      />
      <source
        media="(max-width: 767px)"
        srcset="
          ./images/hero/hero_watch.webp    1x,
          ./images/hero/hero_watch@2x.webp 2x
        "
        type="image/webp"
      />

      <img
        src="./images/mob-3.webp"
        alt="watches"
        width="335"
        height="366"
        class="hero-watches-img"
        fetchpriority="high"
      />
    </picture>
  </div>
</section>
