.header {
  border-bottom: 1px solid rgba(12, 12, 12, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  transition: transform 200ms linear;
  z-index: 5;
}

.header.hide {
  transform: translateY(-100%);
}

.header-container {
  display: flex;
  align-items: center;
  min-height: 74px;
}

.header-menu {
  position: fixed;
  width: 200px;
  max-width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: linear-gradient(
      rgba(12, 12, 12, 0.92),
      rgba(12, 12, 12, 0.92)
    ),
    url('../images/header/mob_menu/mobile_menu.webp');
  transform: translateX(100%);
  transition: transform 275ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-menu-open {
  transform: translateX(0);
}

.header-logo {
  display: inline-flex;
  color: var(--main);
  font-family: Gilroy, sans-serif;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: -0.02em;
  padding: 20px 0;
}

.header-nav {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-nav-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.header-nav-item {
  color: var(--background);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.28;
}

.header-nav-item-active {
  position: relative;
  margin-bottom: 10px;
}

.header-nav-link {
  padding: 12px 0;
}

.header-nav-item-active::after {
  content: '';
  display: flex;
  width: 8px;
  height: 8px;
  margin: 0 auto;
  margin-top: 2px;
  background-color: var(--accent);
  border-radius: 50%;
  position: absolute;
  left: 0;
  right: 0;
}

.header-socials {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 40px;
}

.header-socials-item {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  border: 1px solid rgba(251, 251, 251, 0.1);
}

.header-socials-link {
  display: flex;
  padding: 8px;
}

.header-socials-icon {
  fill: rgba(251, 251, 251, 0.8);
  transition: fill 275ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-socials-item:hover .header-socials-icon,
.header-socials-item:focus .header-socials-icon {
  fill: rgba(251, 251, 251, 1);
}

.header-burger {
  border: none;
  background-color: transparent;
  width: 34px;
  height: 34px;
  padding: 0;
  position: absolute;
  top: 20px;
  right: 20px;
}

.header-burger-span {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  position: relative;
}

.header-burger-span::before {
  content: '';
  display: flex;
  height: 3px;
  width: 30px;
  background-color: var(--main);
  border-radius: 3px;
  position: absolute;
  top: 10px;
  transition: all 275ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-burger-span::after {
  content: '';
  display: flex;
  height: 3px;
  width: 30px;
  background-color: var(--main);
  border-radius: 3px;
  position: absolute;
  bottom: 10px;
  transition: all 275ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-burger-open .header-burger-span::before {
  transform: rotate(45deg);
  top: 15.5px;
  background-color: var(--background);
}

.header-burger-open .header-burger-span::after {
  transform: rotate(-45deg);
  bottom: 15.5px;
  background-color: var(--background);
}

/* #region Tablet adaptation */
@media (min-width: 768px) {
  .header-container {
    min-height: 92px;
  }

  .header-logo {
    font-size: 20px;
    padding: 26px 0;
  }

  .header-menu {
    width: 330px;
  }

  .header-burger {
    top: 26px;
    right: 26px;
    width: 40px;
    height: 40px;
  }

  .header-burger-span::before {
    height: 3px;
    width: 34px;
    border-radius: 3px;
    top: 13px;
  }

  .header-burger-span::after {
    height: 3px;
    width: 34px;
    border-radius: 3px;
    bottom: 13px;
  }

  .header-burger-open .header-burger-span::before {
    transform: rotate(45deg);
    top: 18.5px;
    background-color: var(--background);
  }

  .header-burger-open .header-burger-span::after {
    transform: rotate(-45deg);
    bottom: 18.5px;
    background-color: var(--background);
  }

  .header-socials-icon {
    width: 20px;
    height: 20px;
  }
}
/* #endregion /Tablet adaptation */

/* #region Desctop adaptation */
@media (min-width: 1280px) {
  .header-container {
    min-height: 88px;
  }

  .header-container {
    justify-content: space-between;
    align-items: center;
  }

  .header-menu {
    background-color: transparent;
    position: inherit;
    width: 100%;
    max-width: 1174px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    transform: translateX(0);
  }

  .header-logo {
    display: block;
    margin-right: 203px;
    padding: 32px 0;
  }

  .header-nav-list {
    flex-direction: row;
  }

  .header-nav-item {
    color: var(--main);
  }

  .header-nav-link {
    padding: 26px 0;
  }

  .header-nav-item-active {
    position: relative;
    margin-bottom: 0;
  }

  .header-socials {
    margin-bottom: 0;
  }

  .header-socials-item {
    border-color: rgba(12, 12, 12, 0.1);
  }

  .header-socials-icon {
    fill: var(--main);
    width: 20px;
    height: 20px;
  }

  .header-socials-item:hover .header-socials-icon,
  .header-socials-item:focus .header-socials-icon {
    fill: var(--accent);
  }

  .header-burger {
    display: none;
  }
}
/* #endregion /Desctop adaptation */

/* #region Images adaptation */
@media only screen and (max-width: 767px) and (min-resolution: 192dpi) {
  .header-menu {
    background-image: linear-gradient(
        rgba(12, 12, 12, 0.92),
        rgba(12, 12, 12, 0.92)
      ),
      url('../images/header/mob_menu/mobile_menu@2x.webp');
  }
}
@media only screen and (min-width: 768px) {
  .header-menu {
    background-image: linear-gradient(
        rgba(12, 12, 12, 0.92),
        rgba(12, 12, 12, 0.92)
      ),
      url('../images/header/mob_menu/mobile_menu_tabl.webp');
  }
}
@media only screen and (min-width: 768px) and (min-resolution: 192dpi) {
  .header-menu {
    background-image: linear-gradient(
        rgba(12, 12, 12, 0.92),
        rgba(12, 12, 12, 0.92)
      ),
      url('../images/header/mob_menu/mobile_menu_tabl@2x.webp');
  }
}

@media only screen and (min-width: 1280px) {
  .header-menu {
    background-image: none;
  }
}

/* #endregion /Images adaptation */
