
.sale {
    padding: 30px 0;
}

@media only screen and (min-width: 768px) {
  .sale {
    padding: 40px 0;
  }
}

@media only screen and (min-width: 1280px) {
    .sale {
    padding: 50px 0;
    }
}

h2.sale-title {
/* Mobile/H2 */
    color: var(--main);
    font-family: Gilroy;
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 24px;
    line-height: 1;
    letter-spacing: -0.02em;
}

@media only screen and (min-width: 768px) {
  h2.sale-title {
    /* Desktop_tablet/H2 */
    font-size: 48px;
    line-height: 0.92;
    letter-spacing: -0.02em;
    margin-bottom: 40px;    
  }
}

.salewrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 20px;
}

@media only screen and (min-width: 768px) {
  .salewrapper {
    gap: 40px;
  }
}

.picture-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 20px;
    max-width: 100%;
}

.items-example {
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
}
@media only screen and (min-width: 768px) {
  .items-example {
    display: flex;
    gap: 10px;
    flex-direction: column;
    max-width: 132px;
    row-gap: 10px;
  }
}

.sale-item-picture {
    display: flex;
    justify-content: center;
    width: calc((100% - 3 * 5px) / 4);
    flex-shrink: 0;
    border-radius: 16px;
    border: 1px solid rgba(12, 12, 12, 0.05);
    background-color: var(--cards);
    padding: 13px 14px 13px 14px;
}

@media only screen and (min-width: 768px) {
  .sale-item-picture {
    width: 100%;
    padding: 16px 18px 16px 18px;
    border-radius: 20px;
  }
}

.sale-main-pic {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    width: 335px;
    height: 385px;
    border-radius: 30px;
    border: 1px solid rgba(12, 12, 12, 0.05);
    background-color: var(--cards);
}

@media only screen and (min-width: 768px) {
  .sale-main-pic {
    padding: 80px 112px;
    width: 552px;
    height: 558px;
    border-radius: 50px;
  }
}

@media only screen and (min-width: 1280px) {
    .sale-main-pic {
    width: 428px;
    height: 558px;
    padding: 80px 50px;

    }
}

.sale-description-container {
    border-radius: 30px;
    background-color: var(--accent);
    padding: 48px 28px;
}

@media only screen and (min-width: 768px) {
  .sale-description-container {
    padding: 60px;
    border-radius: 50px;
  }
}

@media only screen and (min-width: 1280px) {
    .sale-description-container {
    max-width: 530px;
    height: 558px;
    }
}

.sale-description-title {
    color: var(--background);
    /* Mobile/H3 */
    font-size: 24px;
    font-weight: 600;
    line-height: 1.17;
    letter-spacing: -0.02em;
    margin-bottom: 10px;
}

@media only screen and (min-width: 768px) {
  .sale-description-title {
    /* Desktop_tablet/H3 */
    font-size: 32px;
    line-height: 1.125;
    letter-spacing: -0.02em;
    max-width: 436px; 
  }
}

@media only screen and (min-width: 1280px) {
  .sale-description-title {
    max-width: 389px;
  }
}

.product-tag {
    margin-bottom: 20px;
    font-weight: 400;        
    font-size: 14px;
    line-height: 1.29;       
    letter-spacing: -0.02em;
    color: rgba(251, 251, 251, 0.5);
}

.sale-price {
    display: flex;
    align-items:center;
    gap: 9px;
    margin-bottom: 28px;
}

@media only screen and (min-width: 768px) {
  .sale-price {
    margin-bottom: 30px;
  }
}

.price-tag {
    border-radius: 8px;
    background-color: rgba(251, 251, 251, 0.10);
    color: var(--background);
    font-size: 16px;
    padding: 8px 12px;
    font-weight: 600;
    line-height: 1.25;
    letter-spacing: -0.02em;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media only screen and (min-width: 768px) {
  .price-tag {
    font-size: 20px;
    line-height: 1;
    letter-spacing: -0.02em;
  }
}

.price-crossed {
    font-weight: 400;        
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: -0.02em;
    text-decoration: line-through;
    color: rgba(251, 251, 251, 0.5);
}

  .item-description-text {
    /* Mobile/Main text */
    font-weight: 500;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
    color: rgba(251, 251, 251, 0.7);
    font-style: normal;
    margin-bottom: 28px;
    
  }

@media only screen and (min-width: 768px) {
  .item-description-text {
        /* Desktop_tablet/Main text */
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: -0.02em;
    margin-bottom: 40px;
  }
}

.sale-item-features {
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
    gap: 8px;
    flex-wrap: wrap;
}

.sale-features-item {
    display: flex;
    padding: 8px 12px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    border: 1px solid rgba(251, 251, 251, 0.20);
}

.feature-text {
    color: var(--background);
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.33;
}

@media only screen and (min-width: 768px) {
.feature-text {
    font-size: 14px;
    line-height: 1.29;
  }
}

@media only screen and (min-width: 768px) {
  .sale-item-features {
    max-width: 398px;
  }
}

@media only screen and (min-width: 768px) {
  .sale-features-item {
    font-size: 14px;
    line-height: 18px;
  }
}