/* #region Footer */
.footer {
  padding: 0 10px;
  margin-bottom: 20px;
}
.footer .container {
  max-width: 335px;
  padding: 40px 28px 28px 28px;
  background-color: var(--main);
  border-radius: 30px;
}
.footer-page-logo {
  display: inline-block;
  font-family: 'Gilroy', sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: var(--background);
  letter-spacing: -0.02em;
  margin-bottom: 20px;
}
.footer-icon-list {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 20px;
  max-width: 122px;
}
.footer-icon-link {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(251, 251, 251, 0.1);
  border-radius: 10px;
  padding: 8px;
  width: 34px;
  height: 34px;
  transition: fill 275ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: rgba(251, 251, 251, 0.8);
}
.footer-icon-link:hover,
.footer-icon-link:focus {
  border-color: var(--accent);
  fill: rgb(255, 0, 0);
}
.footer-tel-cont {
  display: inline-block;
  margin-bottom: 37.98px;
  border-radius: 16px;
  border: 1px solid rgba(251, 251, 251, 0.2);
  padding: 14px 20px;
  color: var(--background);
  transition: color 275ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 275ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-tel-link {
  text-align: center;
  font-family: 'Gilroy', sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.33;
  text-transform: uppercase;
}
.footer-tel-cont:hover,
.footer-tel-cont:focus {
  background-color: var(--background);
  color: var(--main);
}
.footer-text-cont {
  max-width: 279px;
  margin-bottom: 92px;
}
.footer-text {
  font-family: 'Gilroy', sans-serif;
  color: var(--background);
  font-weight: 600;
  font-size: 20px;
  text-align: center;
  line-height: 1.2;
  letter-spacing: -0.02em;
}
.footer-navig {
  display: flex;
  gap: 20px;
  justify-content: space-between;
}

.footer-navig-list {
  display: flex;
  max-width: 147px;
  column-gap: 16px;
  padding: 0;
  margin: 0;
  list-style: none;
  flex-wrap: wrap;
}

.footer-navig-item {
  display: inline;
  font-family: 'Gilroy', sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.8;
  color: var(--background);
  text-align: left;
}
.footer-about {
  white-space: nowrap;
}
.footer-navig-text {
  font-family: 'Gilroy', sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  color: var(--background);
  max-width: 83px;
}
.underline {
  display: block;
  width: 100%;
  height: 1px;
  stroke-width: 1px;
  background-color: rgba(251, 251, 251, 0.1);
  margin-top: 24px;
  margin-bottom: 24px;
}
.footer-bt-date {
  display: block;
  font-family: 'Gilroy', sans-serif;
  color: rgba(251, 251, 251, 0.5);
  font-size: 10px;
  font-weight: 500;
  line-height: 1.4; /* 128.571% */
  letter-spacing: -0.02em;
}
.footer-service {
  margin-right: 20px;
}
.footer-privacy {
  font-family: 'Gilroy', sans-serif;
  font-weight: 500;
  font-size: 10px;
  line-height: 1.4;
  letter-spacing: -0.02em;
  text-align: right;
  color: rgba(251, 251, 251, 0.5);
  margin-top: 8px;
}

@media screen and (min-width: 768px) {
  .footer {
    margin-bottom: 32px;
  }
  .footer .container {
    max-width: 704px;
    padding-top: 40px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 28px;
  }
  .footer-position-cont {
    display: flex;
    justify-content: space-between;
    margin-bottom: 86px;
  }
  .footer-page-logo {
    font-size: 20px;
  }
  .footer-icon-list {
    margin-bottom: 0;
  }
  .footer-tel-cont {
    max-width: 162px;
    height: 48px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .footer-tel-link {
    font-size: 14px;
    line-height: 1.28;
  }
  .footer-text-cont {
    max-width: 524px;
    height: 96px;
    margin-left: auto;
    margin-right: auto;
  }
  .footer-text {
    font-size: 28px;
    line-height: 1.15;
    margin: 0;
    padding: 0;
  }
  .footer-icon-social {
    width: 20px;
    height: 20px;
  }

  .footer-navig {
  }
  .footer-navig-list {
    flex-wrap: nowrap;
    max-width: none;
    gap: 19px;
  }
  .footer-navig-item {
    font-size: 14px;
    line-height: 1.29;
    text-align: center;
    color: var(--background);
  }
  .footer-navig-text {
    font-size: 14px;
    line-height: 1.29;
    max-width: 162px;
  }
  .underline {
    margin-top: 28px;
    margin-bottom: 28px;
  }
  .footer-bt-date {
    font-size: 14px;
    line-height: 1.28;
    display: inline;
    margin-right: 152px;
  }
  .footer-privacy {
    font-size: 14px;
    line-height: 1.28;
  }
}
@media only screen and (min-width: 1280px) {
  .footer .container {
    max-width: 1216px;
    padding: 40px 40px 28px 40px;
    position: relative;
  }
  .footer-position-cont {
    display: flex;
    margin-bottom: 126px;
  }
  .footer-text-cont {
    position: absolute;
    top: 40px;
    right: 347px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
  }
  .footer-tel-cont {
    margin-bottom: 45.98px;
  }
  .footer-text {
    font-size: 28px;
    line-height: 1.15;
  }
  .footer-navig-list {
    display: flex;
  }
  .footer-navig {
    display: flex;
    gap: 40px;
  }
  .footer-navig-text {
    margin-left: 469px;
  }
  .footer-bottom {
    display: inline;
  }
  .footer-bt-date {
    margin-right: 660px;
  }
}
/* #endregion Footer */
