/* #region FONT GILROY */

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-Regular.ttf');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-Bold.ttf');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-Semibold.ttf');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-Medium.ttf');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'Gilroy', sans-serif;
}

/* #endregion FONT GILROY */
